{% extends "base.html" %}
{% block content %}
<div>
    <h2>{{ current_user.username }}</h2>
    <p>Email: {{ current_user.email }}</p>
</div>
<a href={{ url_for('main.user_detail', username=current_user.username) }}>
    <h4>Click here to see all of your questions, answers, and comments!</h4>
</a>
<br>
<h3>Update Account Info</h4>
<div>
    <form action="" name="usernameForm" method="post">
       {{ userForm.csrf_token }}
       <div>
           {{ userForm.username.label(class="form-control-label") }}
           {{ userForm.username(class="form-control form-control-lg") }}

           {% if userForm.username.errors %}
           <div class="alert alert-warning" role="alert">
               {% for error in userForm.username.errors %}
                   <span>{{ error }}</span>
               {% endfor %}
           </div>
           {% endif %}
         </div>
       <div>
           {{ userForm.submit(class="form-control form-control-lg") }}
       </div>
    </form>
	<br>
    <form action="" name="emailForm" method="post">
       {{ emailForm.csrf_token }}
       <div>
           {{ emailForm.email.label(class="form-control-label") }}
           {{ emailForm.email(class="form-control form-control-lg") }}

           {% if emailForm.email.errors %}
           <div class="alert alert-warning" role="alert">
               {% for error in emailForm.email.errors %}
                   <span>{{ error }}</span>
               {% endfor %}
           </div>
           {% endif %}
         </div>
       <div>
           {{ emailForm.submit(class="form-control form-control-lg") }}
       </div>
    </form>
	<br>
    <form action="" name="passwordForm" method="post">
       {{ passwordForm.csrf_token }}
       <div>
           {{ passwordForm.old_password.label(class="form-control-label") }}
           {{ passwordForm.old_password(class="form-control form-control-lg") }}
		   {% if passwordForm.old_password.errors %}
           <div class="alert alert-warning" role="alert">
               {% for error in passwordForm.old_password.errors %}
                   <span>{{ error }}</span>
               {% endfor %}
           </div>
           {% endif %}
		   {{ passwordForm.new_password.label(class="form-control-label") }}
           <small>(Login is required after password update)</small>
           {{ passwordForm.new_password(class="form-control form-control-lg") }}
		   {% if passwordForm.new_password.errors %}
           <div class="alert alert-warning" role="alert">
               {% for error in passwordForm.new_password.errors %}
                   <span>{{ error }}</span>
               {% endfor %}
           </div>
           {% endif %}
		   {{ passwordForm.confirm_password.label(class="form-control-label") }}
           {{ passwordForm.confirm_password(class="form-control form-control-lg") }}
		   {% if passwordForm.confirm_password.errors %}
           <div class="alert alert-warning" role="alert">
               {% for error in passwordForm.confirm_password.errors %}
                   <span>{{ error }}</span>
               {% endfor %}
           </div>
           {% endif %}
       <div>
           {{ passwordForm.submit(class="form-control form-control-lg") }}
       </div>
    </form>
</div>
{% endblock %}
