{% extends "base.html" %}
{% block content %}
<div>
    <br><h2>Ask a Question!</h2><br>
</div>
<div>
    <form action="" method="post">
        {{ form.csrf_token }}
        <div>
            {{ form.question.label(class="form-control-label") }}
            {{ form.question(class="form-control form-control-md") }}

            {% if form.question.errors %}
            <div class="alert alert-warning" role="alert">
                {% for error in form.question.errors %}
                <span>{{ error }}</span>
                {% endfor %}
            </div>
            {% endif %}
			      <br>{{ form.details.label(class="form-control-label") }}
            {{ form.details(class="form-control form-control-lg") }}

            {% if form.details.errors %}
            <div class="alert alert-warning" role="alert">
                {% for error in form.details.errors %}
                <span>{{ error }}</span>
                {% endfor %}
            </div>
            {% endif %}
			<div><br>
                {{ form.submit(class="form-control form-control-lg") }}
            </div>
        </div>
    </form>
</div>
{% endblock %}
