{% extends "base.html" %}
{% block content %}
<br><article class="content-section">
    <div class="list-group-item"s>
        <h1>{{ question.question }}</h1>
        <div>
            <small>
                <a href={{ url_for('main.user_detail', username=question.author.username) }}>
                    {{ question.author.username }}
                </a> • {{ question.date.strftime('%b %d, %Y at %I:%M %p') }}
            </small>
        </div><br>
		    <p><large>{{ question.details }}</large> </p>
    </div>
</article>
{% if num_answers > 1 %}
	<br><h3>Answers:</h3>
{% elif num_answers == 1 %}
  <br><h3>Answer</h3>
{% endif %}
{% if answers_bundle %}
  {% for answer, comments in answers_bundle %}
    <div class="list-group-item">
        <div class="d-flex w-100 justify-content-between">
            <a href={{ url_for('main.user_detail', username=answer.author.username) }}>
                <h5 class="mb-1">{{ answer.author.username }}</h5>
            </a>
            <small class="text-muted">{{ answer.date.strftime('%b %d, %Y at %I:%M %p') }}</small>
        </div>
        <p class="mb-1">{{ answer.answer }}</p>
		<br>
		{% if comments %}
		<h5>Comments:</h5>
		<div class="list-group">
			{% for comment in comments %}
			<div class="list-group-item">
				<div class="d-flex w-100 justify-content-between">
					<a href={{ url_for('main.user_detail', username=comment.author.username) }}>
						<h5 class="mb-1">{{ comment.author.username }}</h5>
					</a>
					<small class="text-muted">{{ comment.date.strftime('%b %d, %Y at %I:%M %p') }}</small>
				</div>
				<p class="mb-1">{{ comment.comment }}</p>
			</div>
			{% endfor %}
		</div>
		{% endif %}
        {% if current_user.is_authenticated %}
        <br><div id="comment_form">
            <form action="" method="post">
              {{comment_form.csrf_token}}
              <div>
                {{ comment_form.comment.label(class="form-control-label") }}
                {{ comment_form.comment(class="form-control form-control-md") }}
                {{ comment_form.answerID(value=answer.id)}}
              </div>
              <div><br>
				{{ comment_form.submit(class="form-control form-control-lg") }}
              </div>
            </form>
        </div>
        {% endif %}
    </div>
    {% endfor %}
{% else %}
<h5>No answer yet... be the first! (Make sure you're logged in)</h5>
{% endif %}
<br>
{% if current_user.is_authenticated %}
	{% if not user_answered %}
	<div>
		<h3>Submit an answer!</h3>
		<form action="" method="post">
		  {{answer_form.csrf_token}}
		  <div>
			{{ answer_form.answer.label(class="form-control-label") }}
			{{ answer_form.answer(class="form-control form-control-md row-") }}
		  </div>
		  <div>
			<br>{{ answer_form.submit(class="form-control form-control-lg") }}
		  </div>
		</form>
	</div>
	{% endif %}
{% endif %}
{% endblock %}
