{% extends "base.html" %}
{% block content %}
    <br><div>
        <h2>Two-Factor Authentication</h2>
    </div>
    <div>
        This website requires mandatory 2FA enrollment.
    </div>
    <!-- Registration Form: -->
    <p>
        Use an authenticator app to enroll with us! You will need to use this app to login in the future.
    </p>
    <img src={{ url_for('users.qr_code') }} alt="QR Code for 2FA">

    <div>
        You will receieve an email to confirm your account before logging in.
        <br><a href={{ url_for('main.index') }}>Click here</a> to navigate back to the home page.
    </div>


{% endblock %}
